@import "swiper/swiper-bundle.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-app-gradient {
        @apply bg-gradient-to-r from-secondary to-primary
    }

}

body {
    margin: 0;
    @apply font-sans text-[20px]
}

.container {
    @apply px-10 lg:px-16 4xl:px-[500px] 6xl:px-[700px]
}
@keyframes ripple {
            0% {
                width: 0;
                height: 0;
                opacity: 0.8;
            }
            100% {
                width: 800px;
                height: 800px;
                opacity: 0;
            }
        }

        .ripple-ring {
            position: absolute;
            border: 2px solid rgba(68, 156, 239, 0.6);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ripple 2s ease-out infinite;
        }

        .ripple-1 {
          
            animation-delay: 0s;
        }

        .ripple-2 {
            animation-delay: 0.6s;
        }

        .ripple-3 {
            animation-delay: 1.2s;
        }
        .ripple-4 {
            animation-delay: 1.8s;
        }
        .ripple-5 {
            animation-delay: 2.1s;
        }

        .pill-container {
            position: relative;
            width: 200px;
            height: 200px;
        }

        .pill-image {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
        }